**1. Give examples of boolean, integer, float and string data types and explain them breifly (2M)**.

Boolean = Boolean data type is a value that can only be either true or false.
Example - X = 6
           Y = 10
           Print(bool(x==y)) -----false

Integer : Integers are whole Numbers. It can be positive, negative,0
Ex: 1, 23,  567,-567

Float :  A float is a floating-point number, which means it is a number that has a decimal place
Ex : 1.45, 0.234

String :  A string is a sequence of characters enclosed between the double quotes(“ “).
Ex:  “ABC123”
      “Hello Odin Team”

**2. Match the data structures given in column A with the types of brackets associated with them and their properties (1.5 Marks)**

| Data structues | Types of brackets |  Properties |
| --- | --- | --- |
| (a) List | 1. { } |  (X) Immutable and ordered |
| (b) Tuple |2. [ ] |  (Y) Mutable and ordered   |
| (c) Dictionary |3. ( ) | (Z)  key – value pairs |
|

List : List is mutable and ordered and type of brackets square brackets[]

Tuple : Immutable and ordered and type of brackets round brackets ()

Dictionary : key-value pairs and type pf brackets flower brackets {}

**3 Match Column A statements with their respective output in the below options (2.5 Marks)**

| Column A | Output 
| --- | --- 
| (a) 50 % 2 | (1) 25.5
| (b) 51 / 2 | (2) 1
| (c) 51 // 2 | (3) 0
| (d) bool(51 % 2) |(4) 25
| (e)((555//5) % 5) ** 3 | (5)True

In [28]:
50%2

0

In [29]:
51/2

25.5

In [30]:
51//2

25

In [31]:
bool(51%2)

True

In [32]:
((555//5) % 5) ** 3

1

Ans:

a) 50%2 -- 0

b) 51/2 -- 25.5

c) 51//2 -- 25

d) bool(51%2) -- true

e) ((555//5) % 5) ** 3 ---1

**4. Write a program to convert temperature from Fahrenheit to Celsius degree.(1.5 Marks)**

In [4]:
#Your code here

Temp = float(input("Please enter temperature in Fahrenheit: "))
Celsius = (Temp - 32) * 5 / 9
print("Temperature in celsius: " , Celsius)

Please enter temperature in Fahrenheit: 44
Temperature in celsius:  6.666666666666667

**5. Given below is a code. Briefly comment on each code line using '#' symbol and  predict what the program is intended for (1.5 Marks)**.

In [5]:
num = int(input("Enter a number: ")) ## Get the input from the user
if (num % 2) == 0: ## this condition is used to check whether given number is even or odd
   print(f"{num} is Even") ## if condition is true, its an even num
else: #### if condition is fails else part will be executed
   print(f"{num} is Odd") ## it is an odd num

Enter a number: 3
3 is Odd

Your answer here

**6. A list of grades of students is given below. Find the unique grades in them. (1 Mark)**

Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'NA', 'B', 'F', 'D', 'C', 'B', 'C', 'A', 'B', 'E','NA', 'C']

In [11]:
Grades_Set = {'A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'NA', 'B', 'F', 'D', 'C', 'B', 'C', 'A', 'B', 'E','NA', 'C'}
Grades_Set

{'A', 'B', 'C', 'D', 'E', 'F', 'NA'}

In [18]:
import pandas as pd
import numpy as np

def convert(Grades):
 return set(Grades)  

Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'NA', 'B', 'F', 'D', 'C', 'B', 'C', 'A', 'B', 'E','NA', 'C']
convert(Grades)

{'A', 'B', 'C', 'D', 'E', 'F', 'NA'}