Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

In [4]:
a = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob", "Sarita"]
b = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]
c =[]

for i in a:
  for j in b:
    if i == j:
      c.append(i)
    
print(c)

['Mahesh', 'Ali', 'Jacob', 'Sarita']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age. 


Ramesh :  25

Suresh : 22

Mohit : 26

In [8]:
a = str(input("Entered few names :"))
list1 = []
b = a.split()

for i in b:
  list1.append(i)

dict1 ={}
for j in list1:
  if j == "Ramesh":
    dict1["Ramesh"] = 25
  if j == "Suresh":
    dict1["Suresh"] = 22
  if j == "Mohit":
    dict1["Mohit"] = 26


print(dict1)

Entered few names :Ramesh Suresh Mohit
{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

Q3: A few students from a university have taken three exams

Name = Sam, Jacy, Tom, Steve

Python = 25, 26, 29, 28

Statistics = 23, 21, 19, 25

SQL = 29, 27, 28, 25


Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [ ]:
Name = ["Sam", "Jacy", "Tom", "Steve"]
Py = [25, 26, 29, 28]
St = [23, 21, 19, 25]
SQL = [29, 27, 28, 25]

Name_of_len = len(Name)

Sum_Of_Python = 0
Sum_Of_Stat = 0
Sum_Of_Sql = 0
Max = 0
Top_Score_Name =" "

for i in range(Name_of_len):
  Sum_Of_Python += Py[i] 
  Sum_Of_Stat += St[i]
  Sum_Of_Sql += SQL[i]

  if Py[i] > Max:
    Max = Py[i]
    Top_Score_Name = Name[i]

print("Mean_of_Python: ",Sum_Of_Python//Name_of_len)
print("Mean_of_Statistics:",Sum_Of_Stat//Name_of_len)
print("Mean_of_SQL:",Sum_Of_Sql//Name_of_len)
print("Highest Marks in Python :",Top_Score_Name," ",Max)

Mean_of_Python:  27
Mean_of_Statistics: 22
Mean_of_SQL: 27
Highest Marks in Python : Tom   29

Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [5]:

Strips_Of_Paracip = 2
Strips_Of_Azithromycin = 3
Strips_Of_VitC = 5

Cost_Of_Paracip = 35
Cost_Of_Azithromycin = 49
Cost_Of_Vitc = 33

Tot_Amount = 2000
Tot_Cost_Of_Paracip = Strips_Of_Paracip * Cost_Of_Paracip
Tot_Cost_Of_Azithromycin = Strips_Of_Azithromycin * Cost_Of_Azithromycin
Tot_Cost_Of_VitC = Strips_Of_VitC * Cost_Of_Vitc
Tot_Cost_Of_All_Medicine = Tot_Cost_Of_Paracip + Tot_Cost_Of_Azithromycin + Tot_Cost_Of_VitC
Refund_Money = Tot_Amount - Tot_Cost_Of_All_Medicine

print("2 Strips of Paracetamol cost :",Tot_Cost_Of_Paracip,"Rs")
print("3 Strips of Azithromcin cost :",Tot_Cost_Of_Azithromycin,"Rs")
print("5 Strips of vitminC cost : ",Tot_Cost_Of_VitC,"Rs")
print("Total Cost Of All Medicines :",Tot_Cost_Of_All_Medicine,"Rs Refund Money :",Refund_Money,"Rs")

2 Strips of Paracetamol cost : 70 Rs
3 Strips of Azithromcin cost : 147 Rs
5 Strips of vitminC cost :  165 Rs
Total Cost Of All Medicines : 382 Rs Refund Money : 1618 Rs

Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
a = str(input("Enter the sentence :"))
No_Of_Vowels = 0

for i in a:
  if i in 'a,e,i,o,u,A,E,I,O,U':
    No_Of_Vowels += 1

print("The number of vowels in given sentence :", No_Of_Vowels)

Enter the sentence :Assume
The number of vowels in given sentence : 3

Q6: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years. 


For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.

In [ ]:
Age = int(input("Enter the Age :"))

if Age >= 18:
  print("Congrats! You are eligible for Voting")
else:
  print("Return After",18-Age,"Years")

Enter the Age :18
Congrats! You are eligible for Voting